# Virtual Environment
venv/
.venv/

# Python
__pycache__/
*.pyc

# VS Code
.vscode/

# Dataset
data/raw/
data/cache/
data/processed/
data/outputs/

# Uploaded files (temporary)
data/uploads/*

# Keep the uploads folder in Git
!data/uploads/.gitkeep

# Generated CSV
team_logicforge.csv

# OS Files
.DS_Store
Thumbs.db